* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #D2872C;
    --gray: #766F68;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#text-logo {
    color: var(--orange);
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    padding: 0 1rem;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: normal;
    color: #000;
}

.header label[for="bt_menu"] {
    padding: 3px;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.header #bt_menu {
    display: none;
}

.container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    position: relative;
}

.informations {
    width: 40%;
    position: absolute;
    left: 0;
}

.informations h2 {
    font-size: 3.5rem;
    color: var(--gray);
    padding-bottom: 2rem;
}

.informations p {
    color: var(--gray);
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.informations .button {
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--orange);
    font-size: 1.5rem;
    padding: 1rem 4.5rem;
    font-weight: bold;
    cursor: pointer;
}

.team {
    width: 70%;
    padding-top: 1rem;
    margin-left: 3rem;
}


@media(max-width: 1024px){
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .informations {
        position: inherit;
        width: 100%;
        text-align: center;
        order: 2;
    }
    .team {
        order: 1;
        width: 100%;
        padding-top: 0;
        margin-left: 0;
    }
    .header label[for="bt_menu"] {
        display: inherit;
    }
    .header nav ul {
        transform: translateX(-180%);
    }
    #bt_menu:checked ~ ul {
        display: block;
        transition: all 0.8s ease 0.2s;
        transform: translateX(0);
        width: 100%;
        display: flex;
        position: absolute;
        top: 5rem;
        left: 0;
        margin-left: 0%;
    }
}